<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="rhogenwizard.launcher.rhodesApp">
<stringAttribute key="aemuname" value="AVD_for_Nexus_4_by_Google"/>
<stringAttribute key="aversion" value="2.3.3"/>
<stringAttribute key="build" value="local"/>
<booleanAttribute key="clean" value="true"/>
<stringAttribute key="ipversion" value="ipad"/>
<stringAttribute key="platform" value="android"/>
<stringAttribute key="project_name" value="Demo"/>
<booleanAttribute key="rebuild" value="false"/>
<booleanAttribute key="trace" value="true"/>
<stringAttribute key="type_symulator" value="rhosimulator"/>
</launchConfiguration>
